Este é o Arquivo que uso para testar os códigos

In [3]:
# Importando a Biblioteca
import pandas as pd

In [7]:
# Puxando o arquivo de dados e mostrando ele na tela
vendas_db = pd.read_excel('C:/Users/andre/Desktop/pandas/manipula-o-dados/Bancosdedados/Vendas.xlsx')
display(vendas_db)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

In [ ]:
# Criando um backup para o nosso banco de dados
backup_vendas = vendas_db.copy()

In [ ]:
# Assim podemos mexer o quanto quiser na nossa tabela tendo uma cópia dela original
vendas_db = vendas_db.loc[vendas_db['Produto'] == 'Camiseta']
display(backup_vendas.head(10))
display(vendas_db.head(10))

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248
6,5,2019-01-02,Shopping Barra,Calça,1,170,170
7,6,2019-01-02,Shopping Ibirapuera,Polo Listrado,4,149,596
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
15,11,2019-01-02,Shopping Recife,Camiseta,1,180,180
119,93,2019-01-02,Novo Shopping Ribeirão Preto,Camiseta,1,180,180
206,148,2019-01-02,Shopping Center Interlagos,Camiseta,2,180,360
276,199,2019-01-02,Passei das Águas Shopping,Camiseta,2,180,360
546,379,2019-01-03,Center Shopping Uberlândia,Camiseta,4,180,720
743,502,2019-01-04,Shopping SP Market,Camiseta,3,180,540
839,563,2019-01-04,Novo Shopping Ribeirão Preto,Camiseta,4,180,720
973,650,2019-01-05,Shopping Center Interlagos,Camiseta,3,180,540
1125,745,2019-01-05,Center Shopping Uberlândia,Camiseta,2,180,360

In [ ]:
# .head mostra as 5 ou mais linhas da tabela
vendas_db.head(10)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248
6,5,2019-01-02,Shopping Barra,Calça,1,170,170
7,6,2019-01-02,Shopping Ibirapuera,Polo Listrado,4,149,596
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105

In [ ]:
# Mostrando somente as linhas e colunas que desejo
somentenorteshopping = vendas_db.loc[vendas_db['ID Loja'] == 'Norte Shopping', ['ID Loja', 'Produto', 'Valor Final']]
display(somentenorteshopping)

              ID Loja                 Produto  Valor Final
3      Norte Shopping                 Relógio          600
4      Norte Shopping            Chinelo Liso           71
8      Norte Shopping  Camisa Gola V Listrado          116
9      Norte Shopping             Camisa Liso          105
100    Norte Shopping            Cueca Xadrez          300
...               ...                     ...          ...
93716  Norte Shopping             Polo Xadrez          142
93754  Norte Shopping              Calça Liso          190
93755  Norte Shopping          Casaco Estampa          512
93756  Norte Shopping                   Gorro          160
93852  Norte Shopping           Bermuda Linho          195

[3924 rows x 3 columns]

In [6]:
# Criando uma coluna a partir de uma existente
vendas_db['Comissão'] = vendas_db['Valor Final'] * 0.5
display(vendas_db)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,179.0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,180.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,184.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,300.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,35.5
...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,283.0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,79.0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,100.5
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,285.0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,518.0

In [ ]:
# Criando uma coluna e preenchendo ela com um valor fixo
vendas_db['Imposto'] = 0 
display(vendas_db)

TypeError: 'int' object does not support item assignment